*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.header {
}
.header__logo {
}
.header__menu {
}
.header__menu_button {
}
.body-top {
}
.body-top__img {
}
.body-top__title {
}
.title {
}
.body-top__subtittle {
}
.body-top__button {
}
.body-mid {
}
.body-mid__img {
}
.body-mid__tittle {
}
.body-mid__subtittle {
}
.body-bot {
}
.body-bot__title {
}
.body-bot__subtitle {
}
.body-bot-content {
}
.body-content-container {
}
.body-content-container_img {
}
.body-content-container-title {
}
.body-content-container-subtitle {
}
.body-slider {
}
.body-slider__title {
}
.body-slider__content-container {
}
.body-slider__content-container__title {
}
.body-slider__content-container__subtitle {
}
.body-slider__content-container__text {
}
.body-slider__content-container__img {
}
.body-slider__button {
}
.footer {
}
.footer-logo {
}
.footer-title {
}
.footer-content {
}
.footer-content__adress {
}
.footer-content__contacts {
}
.footer-socialmedia {
}
.footer-socialmedia__title {
}
.footer-socialmedia__icons {
}
.footer-copyrights {
}